// Colors
@black: #000000;
@white: #FCFCFC;
@error: #D80909;
@grey-2: #DEDEDE;
@grey-1: #9F9F9F;

//Paddings
@xl: 25.3rem; // desktop
@xs: 1rem; // mobile

// Viewports
@desktop-width: 1920px;
@mobile-width: 320px;
